@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto Flex';
  /* Update the url path to point exactly to where your font file lives */
  src: url('./assets/fonts/Roboto-Flex.ttf') format('truetype');
  font-weight: 100 1000; /* Roboto Flex is a variable font, so you can define the weight range */
  font-style: normal;
  font-display: swap;
}